@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

a {
  transition: all 0.2s ease-in-out;
}

/* Hide default PC cursor, but keep touch cursor on mobile */
@media (hover: hover) and (pointer: fine) {
  * {
    cursor: none !important;
  }
}
